@model IEnumerable<Personal_Management.Models.Documents>

@{
    ViewBag.Title = "Index";
}

<h2>Виды документов</h2>
<hr />
<ol class="breadcrumb mb-3">
    <li class="breadcrumb-item">@Html.ActionLink("Cбор документов", "Index", "Sbor_Docum")</li>
</ol>
<hr />
<p>
    @Html.ActionLink("Добавить новый документ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doc_Naim)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doc_Naim)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ID_Doc }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID_Doc }, new { @class = "compItem" })
            </td>
        </tr>
    }

</table>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}