@model Personal_Management.Models.Isp_Sroki

@{
    ViewBag.Title = "Назначение испытательного срока";
}
    <div class="container">
        <h2>Добавление испытательного срока</h2>
        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Данные испытательного срока</h4>
        <hr />
        <ol class="breadcrumb mb-3">
            <li class="breadcrumb-item">@Html.ActionLink("Список испытательных сроков", "Index")</li>
            <li class="breadcrumb-item">@Html.ActionLink("Отделы организации", "Index", "Departments")</li>
            <li class="breadcrumb-item"><a href="/Positions/Index/0">Должности</a></li>
            <li class="breadcrumb-item">@Html.ActionLink("Штатный состав", "Index", "Posit_Responsibilities")</li>
        </ol>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Pos_Res_ID, "ФИО сотрудника", htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-12">
                @Html.DropDownList("Pos_Res_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Pos_Res_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_Start, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Date_Start, new { htmlAttributes = new { @class = "form-control", @id = "date" } })
                @Html.ValidationMessageFor(model => model.Date_Start, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_Finish, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Date_Finish, new { htmlAttributes = new { @class = "form-control", @id = "date2" } })
                @Html.ValidationMessageFor(model => model.Date_Finish, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status_ID, "Статус", htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-12">
                @Html.DropDownList("Status_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.itog, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.itog, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.itog, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Назначить испытательный срок" class="btn btn-outline-success" />
            </div>
        </div>
    </div>
        }

    </div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<script>
    jQuery(function ($) {
        $.mask.definitions['~'] = '[+-]';
        $('#date').mask('99.99.9999');
        $('#date2').mask('99.99.9999');
        $('#phone').mask('+7(999)999-99-99');
        $('#phone1').mask('+7(999)999-99-99');
    });
</script>