@model Personal_Management.Models.Isp_Sroki

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление записи</h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Испытательные сроки</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ФИО сотрудника (Должность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sotrs.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status_isp_sroka.Name_St)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status_isp_sroka.Name_St)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Finish)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку испытательных сроков", "Index")
        </div>
    }
</div>
