@model IEnumerable<Personal_Management.Models.Isp_Sroki>

@{
    ViewBag.Title = "Index";
}

<h2>Испытательные сроки</h2>

<p>
    @Html.ActionLink("Добавить новый испытательный срок", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ФИО сотрудника (Должность)
        </th>
        <th>
            Период
        </th>
        <th>
            Статус
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.ActionLink(item.Sotrs.FullName, "Details", new { id = item.ID_Isp })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date_Start) - @Html.DisplayFor(modelItem => item.Date_Finish)
    </td>
    @switch (item.status_isp_sroka.ID_St)
    {
        case (4):

            <td class="align-content-center badge badge-pill badge-danger">
                @Html.DisplayFor(modelItem => item.status_isp_sroka.Name_St, new { @class="col-md-2"})
            </td>
            break;
        case (3):

            <td class="align-content-center badge badge-pill badge-info">
                @Html.DisplayFor(modelItem => item.status_isp_sroka.Name_St, new { @class="col-md-2"})
            </td>
            break;
        case (2):
            <td class="align-content-center badge badge-pill badge-warning">
                @Html.DisplayFor(modelItem => item.status_isp_sroka.Name_St, new { @class="col-md-2"})
            </td>
            break;

        case (1):
            <td class="align-content-center badge badge-pill badge-success">
                @Html.DisplayFor(modelItem => item.status_isp_sroka.Name_St, new { @class="col-md-2"})
            </td>
            break;
    }

    

</tr>
}

</table>
