@model Personal_Management.Models.Sbor_Docum

@{
    ViewBag.Title = "Create";
}

<h2>Добавление записи</h2>
<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Вернуться к списку собранных документов", "Index")</li>
    <li class="breadcrumb-item"> @Html.ActionLink("Документы", "Index", "Documents")</li>
</ol>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Сбор документов с сотрудников</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Doc_ID, "Наименование документа", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-10">
                @Html.DropDownList("Doc_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Doc_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sotr_ID, "ФИО Сотрудника", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-10">
                @Html.DropDownList("Sotr_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sotr_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Itog, new { @class = "col-md-2", @type = "checkbox", @style = "width: 20px; height: 20px;" })
                @Html.LabelFor(model => model.Itog, htmlAttributes: new { @class = "control-label col-md-5" })
                @Html.ValidationMessageFor(model => model.Itog, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo_Doc, "Добавить фото", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo_Doc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Photo_Doc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
