@model Personal_Management.Models.Pass_Dannie

@{
    ViewBag.Title = "Edit";
}

<h2>Изменение данных</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Паспортные данные</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_Pass)

        <div class="form-group">
            @Html.LabelFor(model => model.S_Pas, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S_Pas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S_Pas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.N_Pas, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.N_Pas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.N_Pas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sotr_ID, "Sotr_ID", htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-10">
                @Html.DropDownList("Sotr_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sotr_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить данные" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку паспортных данных", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
