@model Personal_Management.Models.Accounts

@{
    ViewBag.Title = "Изменение прав доступа";
}
<!-- Окно для корректировки данных -->
<div class="container">
    <h2>Корректировка аккаунта</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Данные аккаунта: @Model.Login</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Login)
            @Html.HiddenFor(model => model.Password)
            @Html.HiddenFor(model => model.Password_Shifr)
            @Html.HiddenFor(model => model.Block)
            @Html.HiddenFor(model => model.Logical_Delete)


            <div class="form-group">
                @Html.LabelFor(model => model.Role_ID, "Права оступа", htmlAttributes: new { @class = "control-label col-md-10" })
                <div class="col-md-12">
                    @Html.DropDownList("Role_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Role_ID, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить изменения" class="btn btn-outline-success" />
                </div>
            </div>
        </div>
    }
</div>