@model IEnumerable<Personal_Management.Models.Accounts>

@{
    ViewBag.Title = "Index";
}

<h2>Аккаунты сотрудников</h2>
<hr />
<ol class="breadcrumb mb-3">
    <li class="breadcrumb-item">@Html.ActionLink("Вернуться к списку аккаунтов", "Index")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Список прав доступа", "Index", "Roles")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Список сотрудников", "Index", "Sotrs")</li>
</ol>
<hr />

<p>
    @Html.ActionLink("Добавить новый аккаунт", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ФИО сотрудника (Должность)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sotrs.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Login }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Login }, new { @class = "compItem" })
            </td>
        </tr>
    }

</table>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-lg"></div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}