@model IEnumerable<Personal_Management.Models.Accounts>

@{
    ViewBag.Title = "Index";
}

<h2>Аккаунты сотрудников</h2>

<p>
    @Html.ActionLink("Добавить новый аккаунт", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ФИО сотрудника (Должность)
        </th>
        <th>
            Права доступа
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Sotrs.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Roles.Role_Naim)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Login)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>
    <td>
        @Html.ActionLink("Изменить", "Edit", new { id = item.Login }) |
        @Html.ActionLink("Удалить", "Delete", new { id = item.Login })
    </td>
</tr>
}

</table>
