@model IEnumerable<Personal_Management.Models.Departments>

@{
    ViewBag.Title = "Index";
}

<h2>Отделы организации</h2>

<p>
    @Html.ActionLink("Создать отдел", "Create") | @Html.ActionLink("Просмотреть все должности", "Index", "Positions")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naim_Depart)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naim_Depart)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.ID_Depart }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID_Depart })|
            <a href="~/Positions/Index/@item.ID_Depart">Должности, входящие в отдел</a>
        </td>
    </tr>
}

</table>
