@model IEnumerable<Personal_Management.Models.Roles>

@{
    ViewBag.Title = "Index";
}

<h2>Права доступа</h2>
<ol class="breadcrumb">
    <li class="breadcrumb-item"> @Html.ActionLink("Аккаунты", "Index", "Accounts")</li>
</ol>

<p>
    @Html.ActionLink("Добавить новые", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role_Naim)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role_Naim)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ID_Role }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID_Role }, new { @class = "compItem" })
            </td>
        </tr>
    }

</table>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
