@model Personal_Management.Models.Sotrs

@{
    Layout = null;
}

<div class="modal-content" style="width:100%">
    <div class="modal-header">
        <h3>Добавление данных об образовании и умениях сотрудника</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="dl-horizontal">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"> @Html.ActionLink("Вернуться к списку этапов принятия", "Index")</li>
            </ol>
            <hr />
            @using (Html.BeginForm("AddOpisanie", "Steps", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Сотрудник: @Html.DisplayFor(model => model.FullName)</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID_Sotr)
            @Html.HiddenFor(model => model.Surname_Sot)
            @Html.HiddenFor(model => model.Name_Sot)
            @Html.HiddenFor(model => model.Petronumic_Sot)
            @Html.HiddenFor(model => model.Day_Of_Birth)
            @Html.HiddenFor(model => model.Address)
            @Html.HiddenFor(model => model.Num_Phone)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.Photo)
            @Html.HiddenFor(model => model.Positions_ID)
            @Html.HiddenFor(model => model.Rate_ID)
            @Html.HiddenFor(model => model.Schedule_ID)
            @Html.HiddenFor(model => model.Date_of_adoption)
            @Html.HiddenFor(model => model.Opisanie)
            @Html.HiddenFor(model => model.rezume)

            <div class="form-group">
                @Html.LabelFor(model => model.Opisanie, "Стаж работы", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    <textarea class="form-control" id="staz" name="staz" rows="1"></textarea>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Opisanie, "Место обучения, Специальность, Период обучения", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    <textarea class="form-control" id="obr" name="obr" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Opisanie, "Знания (Умения)", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    <textarea class="form-control" id="znaniya" name="znaniya" rows="4"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить изменения" class="btn btn-outline-success" />
                </div>
            </div>
        </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}