@model Personal_Management.Models.Sotrs

@{
    Layout = null;
}

<div class="modal-content" style="width:100%">
    <div class="modal-header">
        <h3>Изменение записи</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="dl-horizontal">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"> @Html.ActionLink("Вернуться к списку сотрудников", "Index")</li>
            </ol>
            <hr />
            @using (Html.BeginForm("AddRezume", "Steps", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Сотрудник</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID_Sotr)
                    @Html.HiddenFor(model => model.Surname_Sot)
                    @Html.HiddenFor(model => model.Name_Sot)
                    @Html.HiddenFor(model => model.Petronumic_Sot)
                    @Html.HiddenFor(model => model.Day_Of_Birth)
                    @Html.HiddenFor(model => model.Address)
                    @Html.HiddenFor(model => model.Num_Phone)
                    @Html.HiddenFor(model => model.Email)
                    @Html.HiddenFor(model => model.Photo)
                    @Html.HiddenFor(model => model.Positions_ID)
                    @Html.HiddenFor(model => model.Rate_ID)
                    @Html.HiddenFor(model => model.Schedule_ID)
                    @Html.HiddenFor(model => model.Date_of_adoption)
                    @Html.HiddenFor(model => model.Opisanie)

                    <div class="form-group">
                        @Html.LabelFor(model => model.rezume, "Резюме", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <input type="file" id="doc" name="doc" class="btn badge-info">
                            @Html.ValidationMessageFor(model => model.rezume, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Сохранить изменения" class="btn btn-outline-success" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
