@model Personal_Management.Models.Steps

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<hr />
<ol class="breadcrumb">
    <li class="breadcrumb-item"> @Html.ActionLink("Back to List", "Index")</li>
    <li class="breadcrumb-item"> @Html.ActionLink("Данные ставок", "Index", "Rates")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Список рабочих графиков", "Index", "Work_Schedule")</li>
</ol>
<hr />
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Steps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sotrs.Surname_Sot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sotrs.Surname_Sot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddSotrInIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddSotrInIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddRezume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddRezume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddSobesedovanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddSobesedovanie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddIspSrok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddIspSrok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RezimOzidaniya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RezimOzidaniya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reshenie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reshenie)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
