@model Personal_Management.Models.Steps

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Steps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sotrs.Surname_Sot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sotrs.Surname_Sot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddSotrInIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddSotrInIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddRezume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddRezume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddSobesedovanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddSobesedovanie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddIspSrok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddIspSrok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RezimOzidaniya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RezimOzidaniya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reshenie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reshenie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Step }) |
    @Html.ActionLink("Back to List", "Index")
</p>
