@model IEnumerable<Personal_Management.Models.Steps>

@{
    ViewBag.Title = "Этапы принятия сотрудников";
    ViewBag.NameMeta = "Steps";
    ViewBag.ContentMeta = "На данном окне возможно просмотреть список этапов принятия каждого сотрудника компании";
}

<h2>Этапы принятия сотрудников</h2>
<hr />
<ol class="breadcrumb">
    <li class="breadcrumb-item"> @Html.ActionLink("Испытательные сроки", "Index", "Isp_Sroki")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Сбор документов", "Index", "Sbor_Docum")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Список сотрудников", "Index", "Sotrs")</li>
</ol>
<hr />

@foreach (var item in Model)
{
    <div class="container bootstrap snippet ">
        <div class="row ">
            <div class="mb-3"><h4>@item.Sotrs.FullName | @Html.ActionLink("Изменить", "Edit", new { id = item.ID_Step }) </h4> </div>
        </div>
    </div>
    <div class="clear clear-fix">
        <div class="progressbar-wrapper clearfix">
            <ul class="progressbar">
                @if (item.AddSotrInIS)
                {
                    <li class="active"><a data-placement="top" class="compItem" data-toggle="tooltip" title="" data-original-title="Tooltip on top" href="~/Sotrs/Edit/@item.Sotr_ID"><abbr title="Добавление сотрудника в систему">Этап 1</abbr></a></li>
                }
                else
                {
                    <li><a href="~/Sotrs/Create"><abbr title="Добавление сотрудника в систему">Этап 1</abbr></a></li>
                }
                @if (item.AddRezume)
                {
                    <li class="active"><a href="~/Content/Files/@item.Sotrs.rezume" download><abbr title="Скачать резюме сотрудника">Этап 2</abbr></a></li>
                }
                else
                {
                    <li><a data-placement="top" class="compItem" data-toggle="tooltip" title="" data-original-title="Tooltip on top" href="~/Steps/AddRezume/@item.Sotr_ID"><abbr title="Добавить резюме">Этап 2</abbr></a></li>
                }
                @if (item.AddSobesedovanie)
                {
                    <li class="active"><a data-placement="top" class="compItem" data-toggle="tooltip" title="" data-original-title="Tooltip on top" href="~/Sotrs/Edit/@item.Sotr_ID"><abbr title="Просмотреть описание о сотруднике">Этап 3</abbr></a></li>
                }
                else
                {
                    <li><a data-placement="top" class="compItem" data-toggle="tooltip" title="" data-original-title="Tooltip on top" href="~/Steps/AddOpisanie/@item.Sotr_ID"><abbr title="Добавить описания о сотруднике">Этап 3</abbr></a></li>
                }
                @if (item.AddIspSrok)
                {
                    <li class="active"><a data-placement="top" class="compItem" data-toggle="tooltip" title="" data-original-title="Tooltip on top" href="~/Steps/UpdIsp/@item.Sotr_ID"><abbr title="Изменить испытательный срок">Этап 4</abbr></a></li>
                }
                else
                {
                    <li><a data-placement="top" class="compItem" data-toggle="tooltip" title="" data-original-title="Tooltip on top" href="~/Steps/AddIsp/@item.Sotr_ID"><abbr title="Назначить испытательный срок">Этап 4</abbr></a></li>
                }
                @if (item.RezimOzidaniya)
                {
                    <li class="active"><abbr title="Перейти к принятию решения">Этап 5</abbr></li>
                }
                else
                {
                    <li><abbr title="Испытательный срок ещё не окончен">Этап 5</abbr></li>
                }
                @if (item.Reshenie)
                {
                    <li class="active"><abbr title="Мы рады, что вы работаете вместе с нами в компании IT-Liga">Этап 6</abbr></li>
                }
                else
                {
                    <li>Этап 6</li>
                }
            </ul>
        </div>
    </div>
    <hr />

}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-lg"></div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
