@using System;
@using System.Data.SqlClient;
@using System.Web.Mvc;
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container bootstrap snippet ">
        <div class="row ">
            <div class="mb-3" style="margin: 0 auto; width: auto;"><h2>@ViewBag.log</h2></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->
                <div class="text-center">
                    <img src="~/Content/Photo/st/@ViewBag.photo" class="avatar img-circle img-thumbnail" alt="avatar">
                </div>
            </div><!--/col-3-->
            <div class="col-sm-8">
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <form class="form" action="##">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <h4>ФИО: @ViewBag.FIO</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <h4>Должность: @ViewBag.Pos</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <h4>Номер телефона: @ViewBag.Phone</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <h4>Email: <a href="mailto:@ViewBag.Em">@ViewBag.Em</a></h4>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <h4>Описание:</h4>
                                    <p>@ViewBag.Opis</p>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <h4>Старый пароль</h4>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Введите старый пароль">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <h4>Новый пароль</h4>
                                    <input type="password" class="form-control" name="password1" id="password1" placeholder="Введите новый пароль">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <h4>Повтор нового пароля</h4>
                                    <input type="password" class="form-control" name="password2" id="password2" placeholder="Повторите ввод пароля">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="submit" value="Сменить пароль" class="btn btn-success" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div><!--/tab-pane-->
            </div><!--/tab-content-->
        </div><!--/col-9-->

    </div><!--/row-->
<div class="row ">
    <div class="mb-3" style="margin: 0 auto; width: auto;"><h2>Этапы приема</h2></div>
</div>
            
            <div class="clear clear-fix">
                <div class="progressbar-wrapper clearfix">
                    <ul class="progressbar">
                        @if (Program.step1)
                        {
                            <li class="active" ><a data-placement="top" data-toggle="tooltip" title="" data-original-title="Tooltip on top" href="~/Sotrs/Index">Этап 1</a></li>
                        }
                        else
                        {
                            <li><a href="~/Sotrs/Index">Этап 1</a></li>
                        }
                        @if (Program.step2)
                        {
                            <li class="active">Этап 2</li>
                        }
                        else
                        {
                            <li>Этап 2</li>
                        }
                        @if (Program.step3)
                        {
                            <li class="active">Этап 3</li>
                        }
                        else
                        {
                            <li>Этап 3</li>
                        }
                        @if (Program.step4)
                        {
                            <li class="active">Этап 4</li>
                        }
                        else
                        {
                            <li>Этап 4</li>
                        }
                        @if (Program.step5)
                        {
                            <li class="active">Этап 5</li>
                        }
                        else
                        {
                            <li>Этап 5</li>
                        }
                        @if (Program.step6)
                        {
                            <li class="active">Этап 6</li>
                        }
                        else
                        {
                            <li>Этап 6</li>
                        }
                    </ul>
                </div>
            </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
