<style>
    #gmap_canvas img {
        max-width: none !important;
        background: none !important
    }
</style>
@using System.Web.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Личный кабинет";
    ViewBag.NameMeta = "LichKab";
    ViewBag.ContentMeta = "На данной странице предоставлены данные, вошедшего в систему, пользователя";
    Session["perehod"] = "/Home/Index";
}
<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">

            <br />

            <div class="container bootstrap snippet ">
                <div class="row ">
                    <div class="mb-3" style="margin: 0 auto; width: auto;"><h2>@Session["log"].ToString()</h2></div>
                </div>
                <div class="row" style="display:flex">
                    <div class="col-sm-3">
                        <!--left col-->
                        <div class="text-center">
                            @if (Session["Photo"].ToString() == "" || Session["Photo"].ToString() == "-")
                            {
                                <img src="~/Content/Photo/st/default.png" class="avatar img-circle img-thumbnail" alt="avatar">
                            }
                            else
                            {
                                <img src="@Session["Photo"].ToString()" class="avatar img-circle img-thumbnail" alt="avatar">
                            }

                        </div>
                    </div><!--/col-3-->
                    <div class="col-sm-8">
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <h4>ФИО: @Session["FIO"].ToString()</h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <h4>Дата рождения: @Session["Day_Of_Birth"].ToString()</h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <h4>@Session["Dolj"].ToString()</h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <h4>Адрес: @Session["Address"].ToString()</h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <h4>Номер телефона: @Session["Num_Phone"].ToString()</h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <h4>Email: <a href="mailto:@Session["Email"].ToString()">@Session["Email"].ToString()</a></h4>
                                    </div>
                                </div>

                                @*<div class="form-group">

                                        <div class="col-xs-6">
                                            <h4>Описание:</h4>
                                            <p class="text-muted">@Session["Opis"].ToString()</p>
                                        </div>
                                    </div>*@



                            </div>
                        </div><!--/tab-pane-->

                    </div><!--/tab-content-->
                </div><!--/col-9-->
                <br />
                @if ((bool)Session["Guest"] == false)
                {
                    if (ViewBag.steps != null)
                    {
                        <div class="row ">
                            <div class="mb-3" style="margin: 0 auto; width: auto;"><h2>Статистика</h2></div>

                        </div>
                        <p style="margin-bottom: 0.5rem;">Процент завершения испытательного срока</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @ViewBag.isp%;" aria-valuenow="@ViewBag.isp" aria-valuemin="0" aria-valuemax="100">@ViewBag.isp%</div>
                        </div>
                        <br />
                        <p style="margin-bottom: 0.5rem;">Этапы принятия</p>
                        <div class="containerb">
                            <div class="wrapper" style="padding: 0px 0px;">
                                <div class="arrow-steps clearfix">

                                    @foreach (Personal_Management.Models.Steps item in ViewBag.steps)
                                    {
                                        switch (item.Sobesedovanie)
                                        {
                                            case false:
                                                <div class="step current"><span data-tooltip="В ближайшее время примется решение собеседования">Этап 1</span> </div>
                                                <div class="step"><span>Этап 2</span></div>
                                                <div class="step"><span>Этап 3</span></div>
                                                <div class="step"><span>Этап 4</span></div>
                                                <div class="step"><span>Этап 5</span></div>
                                                break;
                                            case true:
                                                switch (item.Dolznost)
                                                {
                                                    case false:
                                                        <div class="step current done"><span data-tooltip="Собеседование пройдено">Этап 1</span></div>
                                                        <div class="step current"><span data-tooltip="Скоро на вас будет назначена должность">Этап 2</span></div>
                                                        <div class="step"><span>Этап 3</span></div>
                                                        <div class="step"><span>Этап 4</span></div>
                                                        <div class="step"><span>Этап 5</span></div>
                                                        break;
                                                    case true:
                                                        switch (item.Grafik_Raboti)
                                                        {
                                                            case false:
                                                                <div class="step current done"><span data-tooltip="Собеседование пройдено">Этап 1</span></div>
                                                                <div class="step current done"><span data-tooltip="Должность назначена">Этап 2</span></div>
                                                                <div class="step current "><span data-tooltip="Скоро для вас сформируют график работы">Этап 3</span></div>
                                                                <div class="step"><span>Этап 4</span></div>
                                                                <div class="step"><span>Этап 5</span></div>
                                                                break;
                                                            case true:
                                                                switch (item.Sbor_Documentov)
                                                                {
                                                                    case false:
                                                                        <div class="step current done"><span data-tooltip="Собеседование пройдено">Этап 1</span></div>
                                                                        <div class="step current done"><span data-tooltip="Должность назначена">Этап 2</span></div>
                                                                        <div class="step current done"><span data-tooltip="График работы создан">Этап 3</span></div>
                                                                        <div class="step current "><span data-tooltip="Вы сдали еще не все документы">Этап 4</span></div>
                                                                        <div class="step"><span>Этап 5</span></div>
                                                                        break;
                                                                    case true:
                                                                        switch (item.Isp_Srok)
                                                                        {
                                                                            case false:
                                                                                <div class="step current done"><span data-tooltip="Собеседование пройдено">Этап 1</span></div>
                                                                                <div class="step current done"><span data-tooltip="Должность назначена">Этап 2</span></div>
                                                                                <div class="step current done"><span data-tooltip="График работы создан">Этап 3</span></div>
                                                                                <div class="step current done"><span data-tooltip="Все документы сданы">Этап 4</span></div>
                                                                                <div class="step current "><span data-tooltip="Вы только проходите испытательный срок">Этап 5</span></div>
                                                                                break;
                                                                            case true:
                                                                                <div class="step current done"><span data-tooltip="Собеседование пройдено">Этап 1</span></div>
                                                                                <div class="step current done"><span data-tooltip="Должность назначена">Этап 2</span></div>
                                                                                <div class="step current done"><span data-tooltip="График работы создан">Этап 3</span></div>
                                                                                <div class="step current done"><span data-tooltip="Все документы сданы">Этап 4</span></div>
                                                                                <div class="step current done"><span data-tooltip="Поздравляем Вас, вы прошли все этапы принятия на работу">Этап 5</span></div>
                                                                                break;
                                                                        }
                                                                        break;
                                                                }
                                                                break;
                                                        }
                                                        break;
                                                }
                                                break;
                                        }
                                    }


                                    @*<div class="step current done"><span data-tooltip="Собеседование пройдено">Этап 1</span> </div>
                                        <div class="step current"><span data-tooltip="Скоро на вас будет назначена должность">Этап 2</span> </div>
                                        <div class="step"> <span>Этап 3</span> </div>
                                        <div class="step"> <span>Этап 4</span> </div>
                                        <div class="step"> <span>Этап 5</span> </div>
                                        <div class="step"> <span>Этап 6</span> </div>*@
                                </div>
                            </div>
                        </div>
                        if (Session["ID_S"] != null && (int)Session["ID_S"] > 0)
                        {
                            <div class="row ">
                                <div class="mb-3" style="margin: 0 auto; width: auto;margin-top:30px"><h2>График работы</h2></div>
                            </div>
                            <div class="list-group" style="margin-top:5px; background-color:lightgray" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action" href="/Sotrs/Details3/@Session["ID_S"].ToString()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> График работы</a>
                            </div>
                        }

                    }
                    else
                    {
                        <h3>К сожалению вы являетесь уволенным сотрудником</h3>
                    }
                }
            </div><!--/row-->




        </div>
    }
    else
    {

        <div style="margin:0 auto; text-align:center">
            <h1 style="margin-bottom: -16px;">Ошибка!</h1>
            <img style="width:40%" src="~/Content/Photo/грусть2.png" />
            <h2>Вам необходимо войти в систему</h2>
            <h3><a href="~/Account/Login">Войти в систему</a> | <a href="~/Account/Register">Зарегистрироваться</a></h3>
        </div>

    }
</div>
<style>
    [data-tooltip] {
        position: relative; /* Относительное позиционирование */
    }

        [data-tooltip]::after {
            z-index: 1001;
            content: attr(data-tooltip); /* Выводим текст */
            position: absolute; /* Абсолютное позиционирование */
            width: 300px; /* Ширина подсказки */
            left: 0;
            top: 0; /* Положение подсказки */
            background: #3989c9; /* Синий цвет фона */
            color: #fff; /* Цвет текста */
            padding: 0.5em; /* Поля вокруг текста */
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
            pointer-events: none; /* Подсказка */
            opacity: 0; /* Подсказка невидима */
            transition: 1s; /* Время появления подсказки */
        }

        [data-tooltip]:hover::after {
            opacity: 1; /* Показываем подсказку */
            top: 2.5em; /* Положение подсказки */
            left: 0px
        }
</style>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
