@using System;
@using System.Data.SqlClient;
@using System.Web.Mvc;
@{
    Layout="~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container bootstrap snippet ">
        <div class="row ">
            <div class="mb-3" style="margin: 0 auto; width: auto;"><h2>@ViewBag.log</h2></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->
                <div class="text-center">
                    <img src="~/Content/Photo/st/@ViewBag.photo" class="avatar img-circle img-thumbnail" alt="avatar">
                </div>
            </div><!--/col-3-->
            <div class="col-sm-8">
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <form class="form" action="##">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <h4>ФИО: @ViewBag.FIO</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <h4>Должность: @ViewBag.Pos</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <h4>Номер телефона: @ViewBag.Phone</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <h4>Email: <a href="mailto:@ViewBag.Em">@ViewBag.Em</a></h4>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <h4>Описание:</h4>
                                    <p class="text-muted">@ViewBag.Opis</p>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <h4>Старый пароль</h4>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Введите старый пароль">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <h4>Новый пароль</h4>
                                    <input type="password" class="form-control" name="password1" id="password1" placeholder="Введите новый пароль">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <h4>Повтор нового пароля</h4>
                                    <input type="password" class="form-control" name="password2" id="password2" placeholder="Повторите ввод пароля">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="submit" value="Сменить пароль" class="btn btn-success" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div><!--/tab-pane-->
            </div><!--/tab-content-->
        </div><!--/col-9-->

    </div><!--/row-->
    <div class="row ">
        <div class="mb-3" style="margin: 0 auto; width: auto;"><h2>Этапы приема</h2></div>
    </div>

    <div class="clear clear-fix">
        <div class="progressbar-wrapper clearfix">
            <ul class="progressbar">
                @if ((bool)Session["step1"])
                {
                    <li class="active"><abbr title="Ваши данные занесены в базе данных">Этап 1</abbr></li>
                }
                else
                {
                    <li><abbr title="Ваших данных еще нет в базе данных">Этап 1</abbr></li>
                }
                @if ((bool)Session["step2"])
                {
                    <li class="active"><abbr title="Ваше резюме успешно загружено">Этап 2</abbr></li>
                }
                else
                {
                    <li><abbr title="Ваше резюме еще не загружено">Этап 2</abbr></li>
                }
                @if ((bool)Session["step3"])
                {
                    <li class="active"><abbr title="Ваши данные с собеседования добавлены">Этап 3</abbr></li>
                }
                else
                {
                    <li><abbr title="Ваши данные с собеседования пока что еще не добавлены">Этап 3</abbr></li>
                }
                @if ((bool)Session["step4"])
                {
                    <li class="active"><abbr title="Для вас назначен испытательный срок">Этап 4</abbr></li>
                }
                else
                {
                    <li><abbr title="В ближайшее время для вас назначат испытательный срок">Этап 4</abbr></li>
                }
                @if ((bool)Session["step5"])
                {
                    <li class="active"><abbr title="Испытательный срок окончен. Ожидайте результат, который будет отправлен на почту">Этап 5</abbr></li>
                }
                else
                {
                    <li>Этап 5</li>
                }
                @if ((bool)Session["step6"])
                {
                    <li class="active"><abbr title="Поздравляем! Теперь вы сотрудник компании It-Liga">Этап 6</abbr></li>
                }
                else
                {
                    <li>Этап 6</li>
                }
            </ul>
        </div>
    </div>
    <br />
    <br />
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.990151719183!2d37.602140944912165!3d55.810771358934204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5360508910f91%3A0x530ae94ad90580bc!2z0J7Qs9C-0YDQvtC00L3Ri9C5INC_0YAt0LQsIDnQkCDRgdGC0YDQvtC10L3QuNC1IDEsINCc0L7RgdC60LLQsCwgMTI3MjU0!5e0!3m2!1sru!2sru!4v1571645768049!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0; width:100%" allowfullscreen=""></iframe>
    <style>
        #gmap_canvas img {
            max-width: none !important;
            background: none !important
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
