@model IEnumerable<Personal_Management.Models.Zar_Plata>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sotrs.Surname_Sot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Viplati)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vremya_Viplati)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NDS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Itog)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sotrs.Surname_Sot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Viplati)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vremya_Viplati)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NDS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Itog)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Zar }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Zar }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Zar })
        </td>
    </tr>
}

</table>
