@model IEnumerable<Personal_Management.Models.Sotrs>

@{
    ViewBag.Title = "Index";
}

<h2>Сотрудники</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="card mb-3 col-md-offset-2" style="width: 360px;">
            <h4 class="card-header">@item.Full</h4>
            <div class="card-body">
                <h6 class="card-title">Должность</h6>
                <h7 class="card-subtitle text-muted">@item.Positions.Naim_Posit</h7>
            </div>
            <img style="height: 400px; width: 360px; display: block;" src="~/Content/Photo/Sotrs/@item.Photo" alt="Card image">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Номер телефона: @Html.DisplayFor(modelItem => item.Num_Phone)</li>
                <li class="list-group-item">Эл. почта: @Html.DisplayFor(modelItem => item.Email)</li>
                <li class="list-group-item">Дата принятия: @Html.DisplayFor(modelItem => item.Date_of_adoption)</li>
            </ul>
            <div class="card-footer text-center">
                @Html.ActionLink("Изменить", "Edit", new { id = item.ID_Sotr }) |
                @Html.ActionLink("Подробности", "Details", new { id = item.ID_Sotr }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID_Sotr })
            </div>
        </div>
        }
    </div>
</div>
