@model Personal_Management.Models.Positions

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>
<hr />
<ol class="breadcrumb mb-3">
    <li class="breadcrumb-item">@Html.ActionLink("Вернуться к списку должностей", "Index")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Отделы", "Index", "Departments")</li>
</ol>
<hr />
<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Должность</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departments.Naim_Depart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departments.Naim_Depart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naim_Posit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naim_Posit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kol_Vo_Pers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kol_Vo_Pers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kol_Vo_On_Isp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kol_Vo_On_Isp)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
