@model IEnumerable<Personal_Management.Models.Positions>

@{
    ViewBag.Title = "Должности";
    ViewBag.NameMeta = "Pos";
    ViewBag.ContentMeta = "На данном окне возможно просмотреть список должностей компании";
}

<h2>Должности</h2>
<hr />
<ol class="breadcrumb mb-3">
    <li class="breadcrumb-item">@Html.ActionLink("Отделы", "Index", "Departments")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Сотрудники", "Index", "Sotrs")</li>
</ol>
<hr />
<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        @if (Personal_Management.Controllers.PositionsController.idpos == 0)
        {
            <th>
                @Html.DisplayNameFor(model => model.Departments.Naim_Depart)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Naim_Posit)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (Personal_Management.Controllers.PositionsController.idpos == 0)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Departments.Naim_Depart)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Naim_Posit)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ID_Positions }) |
                @Html.ActionLink("Детали", "Details", new { id = item.ID_Positions }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID_Positions }, new { @class = "compItem" })
            </td>
        </tr>
    }

</table>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-lg"></div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
