@model Personal_Management.Models.Rates

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>
<ol class="breadcrumb">
    <li class="breadcrumb-item"> @Html.ActionLink("Перейти к списку ставок", "Index")</li>
    <li class="breadcrumb-item"> @Html.ActionLink("Данные сотрудников", "Index", "Sotrs")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Список рабочих графиков", "Index", "Work_Schedule")</li>
</ol>
<h3>Вы действиетльно хотите удалить эту запись?</h3>
<div>
    <h4>Ставки</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
