@model IEnumerable<Personal_Management.Models.Rates>

@{
    ViewBag.Title = "Index";
}

<h2>Ставки</h2>
<ol class="breadcrumb">
    <li class="breadcrumb-item"> @Html.ActionLink("Данные сотрудников", "Index", "Sotrs")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Список рабочих графиков", "Index", "Work_Schedule")</li>
</ol>
<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table" style="margin: 0 auto; width: auto;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ID_Rate }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID_Rate }, new { @class = "compItem" })
            </td>
        </tr>
    }

</table>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}