
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="@ViewBag.NameMeta" content="@ViewBag.ContentMeta">
    <meta name="yandex-verification" content="f23e027a6cefd8c9" />
    <meta name="google-site-verification" content="lFxRzrVPLrPmmzKY1pD2h4RBxIuDvyGufYBvSxdsPok" />
    <link  href="~/Content/bootstrap2.min.css" rel="stylesheet" type="text/css" id="style"/>
    <link href="~/Content/Photo/fav.ico" rel="icon">
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Content/sweetalert-master/docs/assets/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert-master/src/sweetalert.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link href="~/Content/StyleSite2.css" rel="stylesheet" />
    <script type="text/javascript">
        var date = new Date(); // Получаем текущие дату и время
        var h = date.getHours(); // Получаем текущий час
        if (h < 8 || h > 20) {
            document.getElementById("style").href = "/Content/bootstrap.min.css";
        } // Если сейчас ночь, то меняем файл стилей
        else document.getElementById("style").href = "/Content/bootstrap2.min.css";
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div id="logo" class="pull-left">
            <a href="#intro"><img src="~/Content/Photo/60.png" style="width: 200px; height:auto;" alt="" title="" /></a>
        </div>
    </nav>

    <div class="container body-content ">
        <br />
        @RenderBody()
        <hr />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <footer id="footer" class="bg-primary">
        <div class="footer-top ">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-lg-4 footer-info">
                        <h3 style="color:white">IT Liga</h3>
                        <p class="text-muted">Служба технической поддержки. Разработка и поддержка информационных систем.</p>
                        <br><br>
                    </div>
                    <div class="col-12 col-lg-4 footer-contact">
                        <h4 style="color:white">Наши контакты</h4>
                        <p class="text-muted">
                            127254 г. Москва, <br>
                            пр. Огородный, 9ас1<br>
                            <strong>Телефон:</strong><a href="tel:+74953692434"> +7 (495) 369-24-34</a><br>
                            <strong>Email:</strong><a href="mailto:info@itliga.ru"> info@itliga.ru</a><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="credits" style="color:white">
                    @DateTime.Now.Year <strong>IT Liga</strong> Все права защищены<br>
                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
